*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vendas{

    display: flex;
    justify-content:center;
    background-color: rgb(97, 97, 97);
    width: auto;
    height: 745px;
}


p{

    margin-left: 5%;


}

.lembrancinha{

    margin-top: auto;
    margin-bottom:  auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5px;
    padding-left: 70px;
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.ajusteTecnico{
    margin-top: 45px;
}

.ajusteTecnico1{

    margin-top: 47px;


}

.titulo2{

    padding-top: 4px;
    padding-bottom: 2px;
    color: rgb(170, 170, 170);

}

.titulo3{

    font-size: 20px;

}

.titulo4{

    margin-top: 20px;
    
}


figure{

    padding-top: 10px;
    width: 150px;
    
}

figcaption{
    
    width: 150px;
    background-color: yellow;
    
}

.preco{

    position: absolute;
    margin-top: 85px;
    width: 150px;
    background-color: rgba(46, 46, 46, 0.775);
    height: 15px;

}

.preco p{

    color: white;
    font-size: 12px;
    margin: auto;
    padding-left:10px;

}



img{

    width: 150px;
    height: 100px;
    object-fit: cover;

}

.diaDasCrianças{

    margin-top: auto;
    margin-bottom: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 40px;
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.presente{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 65px;
    padding-left: 10px;
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}